PyQt5==5.15.11
cryptography==45.0.6
pandas==2.3.2
reportlab==4.4.3
openpyxl==3.1.5
pyfingerprint==1.5
pytest==8.4.1
black==25.1.0
flake8==7.3.0
python-dotenv==1.1.1
bcrypt==4.2.0
SQLAlchemy
alembic
customtkinter==5.2.2
ttkbootstrap==1.10.1